<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="container">
    <form action="analyze/" method="GET" enctype="multipart/form-data">
        <label for="text">Enter Text Here:</label>
        <br>
        <textarea name="textname" id="text" style="width: 339px; height: 141px;"></textarea>
        <br>
        <label for="rev">Remove Puchtuation</label>
        <input type="checkbox" name="removep" id="rev">
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>